<!DOCTYPE html>
<html lang="en" ng-app="CurApp">
	<head>
		<meta charset="UTF-8">
		<title>Currency Exchange</title>

		<link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.css">
		<link rel="stylesheet" href="/libs/font-awesome/css/font-awesome.css">

		<script src="/libs/jquery/dist/jquery.js"></script>
		<script src="/libs/bootstrap/dist/js/bootstrap.js"></script>
		<script src="/libs/angular/angular.js"></script>
		<!--/*<script src="/libs/angular-animate/angular-animate.js"></script>*/-->

		<script src="/index.js"></script>
	</head>
	
    <body class="container" ng-controller ="CurCtrl as curCtrl">
    <h2>Currency Exchange Rate</h2>
        <div class="form-group">
            <button class="btn btn-success form-control" ng-click="curCtrl.getRates()">
                <i class="fa fa-gift"></i>  
                    Get Default Rate (Euro)
            </button>
            <table class="table">
                <thead>
                    <tr>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat ="(c, v) in curCtrl.viewRates" >
                        <td> {{v}}</td>
                    </tr>
        
            <div class="form-group">
                <label for="basecur">Base Currency :</label>
                <input type="text" name="basecur" class="form-control" required ng-model="curCtrl.basecur" | uppercase>
			</div>  
            <div class="form-group">
                <label for="enqcur">Enquire Currency :</label>
                <input type="text" name="enqcur" class="form-control" required ng-model="curCtrl.enqcur" | uppercase>
			</div>  
            <button class="btn btn-success form-control" ng-click="curCtrl.getoneRate()">
                <i class="fa fa-gift"></i>  
                    Get Currency Rate based on input
            </button>
        
            <tr ng-model ="curCtrl.exchg" >
                        <td>{{curCtrl.exchg }}</td>
                    </tr>
        
        
        
        
        
        </tbody>
        
       </table>

    </div>





</body>
</html>